<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\FirstProject.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: a255e53d-0c69-41e2-b379-866642b6b521-->
<!--Git Changes 1-->
<!--Git Changes 2-->
<!--Git Changes 3-->
<!--This is a yet new change-->
<!--This is a yet new change 2-->

